ZENTRA_LIVE_OPENCODE_E2E=0
ZENTRA_LIVE_KEEP_ARTIFACTS=0
ZENTRA_LIVE_AZURE_OPENAI_API_KEY=
ZENTRA_LIVE_AZURE_OPENAI_ENDPOINT=https://resource-name.openai.azure.com
ZENTRA_LIVE_AZURE_OPENAI_DEPLOYMENT=
ZENTRA_LIVE_AZURE_OPENAI_API_VERSION=2025-04-01-preview
ZENTRA_LIVE_AZURE_OPENAI_EXPECTED_PROVIDER_MODELS=
ZENTRA_LIVE_AZURE_OPENAI_INPUT_TOKEN_RATE_USD_PER_MILLION=
ZENTRA_LIVE_AZURE_OPENAI_OUTPUT_TOKEN_RATE_USD_PER_MILLION=
ZENTRA_LIVE_OPENCODE_EXECUTABLE=
ZENTRA_LIVE_OPENCODE_HOME=
ZENTRA_LIVE_OPENCODE_SHA256=
ZENTRA_LIVE_OPENCODE_VERSION=
ZENTRA_LIVE_IMPLEMENTER_MODEL=
